.asyncapi_title {
	font-weight: bold;
	font-size:20px;
	color:gray;
}

.asyncapi_submitted {
	color:gray;
	font-size:10px;
}

.asyncapi_content {
	margin:2px;
	margin-top:10px;
	/*display:block;*/
	display:none;
	padding-bottom:2px;
}

.asyncapi_add_button {
	color:orange;
	font-size:15px;
	border: 1px gray solid;
	padding:5px;
	margin-bottom:10px;
	width:150px;
	display:block;
	text-align:center;
	cursor:pointer;
}

.asyncapi_load_page_button {
	color:orange;
	font-size:15px;
	border: 1px gray solid;
	padding:5px;
	margin-top:10px;
	text-align:center;
	cursor:pointer;
}

.asyncapi_page
{
	border-bottom:1px black dashed;
	margin-bottom:20px;

}